/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */
:root {
    --heading-font: "Mystery Quest",  "Georgia", serif;
    --primary-font: "Roboto", sans-serif;
    --dragon-green: #0B870D;
    --chest-brown: #46211C;
    --treasure-yellow: #FFD700;
    --evergreen: #003326;
    --prussian-blue: #020122;
}

/* Global styles */
body {
    background-color: var(--dragon-green);
}
h1 {
    font-family: var(--heading-font);
    color: var(--treasure-yellow);
    background-color: var(--evergreen);
    text-shadow: 4px 4px var(--chest-brown);
    text-align: center;
    letter-spacing: 0.2rem;
    border: 2px solid var(--prussian-blue);
    box-shadow: 3px 5px var(--prussian-blue);
    border-radius: 10%;
    padding: 0.5rem;
}