/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */
:root {
    --heading-font: "Mystery Quest",  "Georgia", serif;
    --primary-font: "Roboto", sans-serif;
    --dragon-green: #0B870D;
    --chest-brown: #46211C;
    --treasure-yellow: #FFD700;
    --evergreen: #003326;
    --prussian-blue: #020122;
}

/* Global styles */
body {
    background-color: var(--dragon-green);
}

h1 {
    font-family: var(--heading-font);
    color: var(--treasure-yellow);
    text-shadow: 4px 4px var(--chest-brown);
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    border-radius: 10%;
    box-shadow: 3px 5px var(--prussian-blue);
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.box {
    background-color: var(--chest-brown);
    border: 2px solid var(--prussian-blue);
}


/* Feedback section */
#feedback {
    margin:auto;
    background-color: var(--evergreen);
    border: 2px solid var(--prussian-blue);
    max-width: 264px;

}

.guess {
    border: 2px solid var(--prussian-blue);
}

/* Play section */
form {
    text-align: center;
}

.input {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid var(--evergreen);
    border-radius: 5%;
    margin: auto;
    margin-top: 10px;
   
}

input[type="submit"] {
    background-color: var(--evergreen);
    color: var(--treasure-yellow);
    font-family: var(--primary-font);
    margin-top: 5px;
    font-size: medium;
}

/* Play button */
#play-button {
    font-family: var(--heading-font);
    color: var(--treasure-yellow);
    font-size: xx-large;
    letter-spacing: 0.3rem;
    text-shadow: 4px 4px var(--chest-brown);
    padding: 0.5rem;
    margin-top: 20px;
    border-radius: 10%;
    box-shadow: 3px 5px var(--prussian-blue);
    min-width: 120px;
}
#play-button:hover {
    color: var(--chest-brown);
    background-color: var(--treasure-yellow);
    text-shadow: none;
    font-weight: bold;

}
#play-button-div {
    text-align: center;
}

